p {
    margin: 2px;
}

/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('libraries/montserrat/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
} 

body {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    flex: 1;

    padding: 0;    
}

.sidebar {
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    height: 100vh;
    max-height: calc(100vh - 24px);

    resize: horizontal; /* Enable horizontal resizing */
    overflow: auto;
    width: 25vw;
    max-width: 1000px;
    min-width: 200px;

    padding: 12px;
    gap:8px;

    display: flex;
    flex-direction: column;
}

.sidebar > div {
    height: 100%; /* idek */
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#courseSearchBar {
    width: calc(100% - 16px); /* idek */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    font-family:inherit;
}

.search-options {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Make the course list scrollable if it overflows */
.courselist {
    overflow-y: auto;
    flex-grow: 1;
    background-color: rgba(245, 245, 245, 0.971);
    border-radius: 5px;
    flex-basis: 0;
}


.csidebar {
    padding: 2px;
    margin: 5px;
    background-color: #e4dcfd;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.csidebar * {
    padding: 0px;
    margin: 2px;
}

h3 {
    width: fit-content;
}

h3:hover {
    text-decoration: underline;
}

.footer {
    margin: 5px;
    margin-bottom: 0;
    text-align: center;
    flex-shrink: 1000;
}

.calendar {
    width: 100vw;
    margin: 10px;
    overflow-y: auto; /* Make the calendar div scrollable if it overflows */
    height: calc( 100vh - 20px );
}

#calendar {
    height: 100%;
}


.red {
    background-color: rgb(229, 168, 168);
}

.yellow {
    background-color: rgb(252, 252, 179);
}

.green {
    background-color: rgb(189, 237, 189);
}

.gray {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}

.dark-gray {
    background-color: #9a9a9a;
}

.blue {
    background-color: #4386ce;
    border: 1px solid #ddd;
}

.hidden {
    display: none !important;
}


#modeSelector {
    margin: 0;
    padding: 0;
    display:block;
    gap: 2px;
    border: 0;
    width:auto;
}

#modeSelector > label > input{
    background-color: lightgray;
    display: inline-block;
    border: none;
    margin: 0;
    font-size:small;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
    border-radius: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 2px;
}