<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Activity</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="selector">
        <select id="year">
            {% for y in years %}
                <option value="{{y}}">{{y}}</option>
            {% endfor %}
        </select>
        <select id="term">
            <option value="10">Spring</option>
            <option value="20">Summer</option>
            <option value="30">Fall</option>
        </select>
        <select id="subject">
            <option value="None">None</option>
            <option value="CPSC">CPSC</option>
            <option value="ENGL">ENGL</option>
        </select>


        <button onclick="loadData()">Load Data</button>
    </div>
    <div id="grid"></div>
    
    <script src="script.js"></script>
</body>
</html>
